@import '../_utils/variables';
@import '../_utils/mixins';
.jobDetails {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  border:1px solid #F8F8F9;
  box-shadow:  0 24px 64px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  .jobDetailsBackgroundWrapper {
    .bgImage {
      height: 200px;
      border-radius: 8px 8px 0 0px;
      @include respond(mobile) {
        height: 150px;
      }
    }
  }
  .content {
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include respond(mobile) {
      padding: 16px;
    }
    .companyLogo {
      padding: 8px;
      border-radius: 8px;
      position: absolute;
      top:0;
      transform: translateY(-50%);
      border: 1px solid #68686817;
      background-color: #ffffff;
      .img {
        width: 60px;
        @include respond(mobile) {
          width: 40px;
        }
      }
    }
    .companyDetails {
      margin-top: 24px;
      .jobName {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
  
        p {
          font-size: 22px;
          font-weight: bold;
          color: rgba(9, 1, 48, 0.8);        
          margin-bottom: 16px;
          @include respond(mobile) {
            font-size: 18px;
          }
        }
        button {
          border-radius: 8px;
          padding: 12px 24px;
          background-color: #4075ff;
          color: white;
          border: none;
          margin-bottom: 16px;
          @include respond(mobile) {
            padding: 12px 16px;
          }
        }
      }
    }
    .flexWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .companyInfo {
        display: flex;
        align-items: center;
        @include respond(mobile) {
          margin-bottom: 8px;
        }
        .companyName {
          color: #4075ff;
          font-weight: bold;
          margin-right: 8px;
          @include respond(mobile) {
            font-size: 14px;
          }
        }
        .location {
          font-weight: 400;
          color: #808291;    
          @include respond(mobile) {
            font-size: 14px;
          }       
        }
      }
      .postInfo {
        color: #808291;
        display: flex;
        align-items: center;
        .posted {
          color: #808291;
          font-weight: 600;
          @include respond(mobile) {
            font-size: 14px;
          }
        }
        span {
          font-weight: bold;
          font-size: 18px;
          margin-left: 8px;
          @include respond(mobile) {
            font-size: 14px;
          }
        }
        .applicants {
          color: #090130;
          font-weight: bold;
          margin-left: 8px;
          @include respond(mobile) {
            font-size: 14px;
          }
        }
      }
    }
    .jobInfoWrapper {
      border-radius: 8px;
      border: 1px solid #EDEDF2;
      display: flex;
      margin-top: 24px;
      flex-wrap: wrap;
      .infoWrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 16px;
        border-right: 1px solid #EDEDF2;
        min-width: 175px;
        border-bottom: 1px solid #EDEDF2;
        @include respond(mobile) {
          padding: 12px;
        }
        .label {
          color: #A9A9AF;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 8px;
        }
        .info {
          color: #6D6D76;
          font-weight: bold;
        }
      }
      .infoWrapper:last-of-type {
        border-right: unset;
      }
    }
    article {
      margin-top: 24px;
      section {
        margin-bottom: 24px;
        h3 {
          color: #6D6D76;
          margin-bottom: 8px;
        }
        p {
          color: #8D8D94;
          line-height: 1.3;
        }
        ul {
          li {
            padding-left: 20px;
            margin-bottom: 8px;
            position: relative;
            color: #8D8D94;
            line-height: 1.3;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              background-color: #48C2B3;
              border-radius: 50%;
              top: 6px;
              width: 8px;
              height: 8px;
            }
          }
        }
      }
      section:last-of-type {
        margin-bottom: unset;
      }
    }
  }
}